- name: Read existing custom keybindings
  community.general.dconf:
    key: /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings
    state: read
  register: ulauncher_custom_keybindings
  become: false

- name: Parse list
  set_fact:
    current_list: "{{ ulauncher_custom_keybindings.value | from_yaml }}"

- name: Merge Ulauncher keybinding
  set_fact:
    merged_list: "{{ ((current_list | default([], true)) + ['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ulauncher/']) | unique }}"

- name: Update custom keybindings
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings"
    value: "{{ merged_list | to_json }}"
    state: present
  become: false

- name: "Create custom shortcut (name)"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ulauncher/name"
    value: "'Ulauncher'"
  become: false

- name: "Create custom shortcut (command)"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ulauncher/command"
    value: "'ulauncher-toggle'"
  become: false

- name: "Create custom shortcut (key binding)"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ulauncher/binding"
    value: "'<Super>F12'"
  become: false
