- name: Download package
  ansible.builtin.include_role:
    name: download-package
  vars:
    download_package_user: Ulauncher
    download_package_repo: Ulauncher
    download_package_name: "ulauncher_{{ release.tag }}_all.deb"

- name: Install ulauncher
  ansible.builtin.apt:
    deb: "{{ downloaded_package.dest }}"
    state: present
  become: true

- name: Set ulauncher keybinding
  ansible.builtin.include_tasks: gnome-integration.yml
  when:
    - ulauncher_gnome_integration | bool
