- name: Check if desktop background already exist
  ansible.builtin.stat:
    path: "{{ gnome_desktop_background_dest }}"
  register: desktop_background

- name: Create parent directories
  ansible.builtin.file:
    path: "{{ gnome_desktop_background_dest | dirname }}"
    state: directory
  when: not desktop_background.stat.exists

- name: Copy desktop background
  ansible.builtin.copy:
    src: "{{ gnome_desktop_background_src }}"
    dest: "{{ gnome_desktop_background_dest }}"
  when: not desktop_background.stat.exists

- name: Set desktop background
  community.general.dconf:
    key: "/org/gnome/desktop/background/picture-uri"
    value: "'file:///home/{{ ansible_user }}/Pictures/{{ gnome_desktop_background_name }}'"

- name: Set desktop background scaling option
  community.general.dconf:
    key: "/org/gnome/desktop/background/picture-options"
    value: "'zoom'"
