- name: Copy desktop background
  ansible.builtin.copy:
    src: "{{ gnome_desktop_background_src }}"
    dest: "{{ gnome_desktop_background_dest }}"

- name: Set desktop background
  community.general.dconf:
    key: "/org/gnome/desktop/background/picture-uri"
    value: "'file:///home/{{ ansible_user }}/Pictures/{{ gnome_desktop_background_name }}'"

- name: Set desktop background scaling option
  community.general.dconf:
    key: "/org/gnome/desktop/background/picture-options"
    value: "'zoom'"
