# Fungerar det att köra playbook flera gånger? Vad händer om man kör apt update?
# Inställningar för terminalen
# Flytta konfiguration för extensions till extern conf?
# Använd Gnomes standard-tema

- name: Base configuration
  hosts: home
  roles:
    - name: Install Oh my posh
      role: bash-ohmyposh

    - name: Setup dotfiles
      role: dotfiles
      vars:
        dotfiles_repo: https://github.com/johnnycederholm/dotfiles.git
        dotfiles_dest: "/home/{{ ansible_user }}/.dotfiles"

    - name: Install Nerd Fonts
      role: nerd-fonts
      vars:
        nerd_fonts_directory: "/home/{{ ansible_user }}/.local/share/fonts"
        nerd_fonts:
          - JetBrainsMono

    - name: Configure user profile picture
      role: profile-picture
      become: true
      vars:
        picture_src: "{{ playbook_dir }}/assets/pictures/profile.jpg"

    - name: Install Plymouth and theme
      role: plymouth
      become: true
      vars:
        plymouth_theme_name: debian-mac-style
        plymouth_theme_src: "{{ playbook_dir }}/assets/themes/plymouth/{{ plymouth_theme_name }}.zip"

    - name: Install and configure keyd
      role: install-keyd
      become: true
      vars:
        keyd_config_src: "/home/{{ ansible_user }}/.dotfiles/.config/keyd/keyd.conf"
        keyd_config_dest: "/etc/keyd/default.conf"

  tasks:
    - name: "Install {{ common_packages }}"
      become: true
      ansible.builtin.apt:
        update_cache: true
        state: present
        name: "{{ common_packages }}"

- name: Install applications
  hosts: home
  roles:
    - name: Install Spotify
      role: spotify
      become: true
    - name: Install Docker engine
      role: docker-engine
      become: true
    - name: Install Draw.io Desktop
      role: drawio
    - name: Install Google Chrome
      role: google-chrome
      become: true
    - name: "Install .NET 10 SDK"
      role: dotnet-sdk
      become: true
      vars:
        version: 10.0
    - name: Install VS Code
      role: vs-code
      become: true
    - name: Install Powershell
      role: powershell
      become: true
      vars:
        powershell_version: 7.6.0-preview.6

- name: Setup Gnome
  hosts: home
  roles:
    - name: Install useful Gnome apps
      role: gnome-apps
      become: true
      vars:
        gnome_apps:
          - dconf-editor
          - ghex
          - gnome-decoder
          - gnome-firmware
          - gnome-photos
          - gnome-shell-pomodoro
          - papers
          - gnome-shell-extensions
          - gnome-shell-extensions-extra

    - name: Apply general settings for Gnome
      role: gnome-settings
      vars:
        gnome_settings:
          - { name: /org/gnome/software/first-run, value: false }
          - { name: /org/gnome/mutter/dynamic-workspaces, value: false }
          - { name: /org/gnome/desktop/wm/preferences/num-workspaces, value: 4 }
          - { name: /org/gnome/settings-daemon/plugins/media-keys/shutdown, value: ['<Control><Alt>Delete'] }
          - { name: /org/gnome/settings-daemon/plugins/media-keys/logout, value: '@as []' }
          - { name: /org/gnome/settings-daemon/plugins/media-keys/www, value: ['<Super>w'] }
          - { name: /org/gnome/desktop/wm/keybindings/switch-windows, value: ['<Alt>Tab'] }
          - { name: /org/gnome/desktop/wm/keybindings/switch-windows-backward, value: ['<Shift><Alt>Tab', '<Alt>Above_Tab'] }
          - { name: /org/gnome/desktop/wm/keybindings/switch-applications, value: [''] }
          - { name: /org/gnome/desktop/wm/keybindings/switch-applications-backward, value: [''] }
          - { name: /org/gnome/settings-daemon/plugins/media-keys/home, value: ['<Super>e'] }
          - { name: /org/gnome/desktop/interface/clock-format, value: "'24h'" }
          - { name: /org/gtk/settings/file-chooser/clock-format, value: "'24h'" }
          - { name: /org/gnome/desktop/interface/clock-show-date, value: false }
          - { name: /org/gnome/desktop/input-sources/sources, value: "[('xkb', 'us'), ('xkb', 'se')]" }
          - { name: /org/gnome/desktop/input-sources/per-window, value: true }
          - { name: /org/gnome/desktop/interface/icon-theme, value: "'ZorinBlue-Light'" }
          - { name: /org/gnome/shell/extensions/just-perfection/quick-settings-dark-mode, value: false }
          - { name: /org/gnome/shell/extensions/just-perfection/quick-settings-night-light, value: false }
          - { name: /org/gnome/shell/extensions/just-perfection/world-clock, value: false }
          - { name: /org/gnome/shell/extensions/just-perfection/weather, value: false }

    - name: Apply settings for Gnome Terminal
      role: gnome-settings
      vars:
        gnome_settings:
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/cursor-shape, value: "'underline'" }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/visible-name, value: "'Default'" }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/use-system-font, value: false }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/font, value: "'JetBrainsMono Nerd Font Mono 12'" }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/palette, value: ['rgb(7,54,66)', 'rgb(220,50,47)', 'rgb(133,153,0)', 'rgb(181,137,0)', 'rgb(38,139,210)', 'rgb(211,54,130)', 'rgb(42,161,152)', 'rgb(238,232,213)', 'rgb(0,43,54)', 'rgb(203,75,22)', 'rgb(88,110,117)', 'rgb(101,123,131)', 'rgb(131,148,150)', 'rgb(108,113,196)', 'rgb(147,161,161)', 'rgb(253,246,227)'] }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/use-theme-colors, value: false }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/foreground-color, value: "'rgb(131,148,150)'" }
          - { name: /org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9/background-color, value: "'rgb(0,43,54)'" }

    - name: Install Dash to Dock extension
      role: gnome-extension
      vars:
        gnome_extension_id: dash-to-dock@micxgx.gmail.com
        gnome_extension_name: gnome-shell-extension-dashtodock
        gnome_extension_settings:
          - { name: /org/gnome/shell/extensions/dash-to-dock/show-apps-at-top, value: true}
          - { name: /org/gnome/shell/extensions/dash-to-dock/show-trash, value: false}
          - { name: /org/gnome/shell/extensions/dash-to-dock/custom-theme-shrink, value: true }
          - { name: /org/gnome/shell/extensions/dash-to-dock/transparency-mode, value: "'FIXED'" }
          - { name: /org/gnome/shell/extensions/dash-to-dock/background-opacity, value: 0.0 }
          - { name: /org/gnome/shell/extensions/dash-to-dock/running-indicator-style, value: "'DASHES'" }

    - name: Install Blur my shell extension
      role: gnome-extension
      vars:
        gnome_extension_id: blur-my-shell@aunetx
        gnome_extension_name: gnome-shell-extension-blur-my-shell
        gnome_extension_settings:
          - { name: /org/gnome/shell/extensions/blur-my-shell/panel/force-light-text, value: true }
          - { name: /org/gnome/shell/extensions/blur-my-shell/dash-to-dock/blur, value: false }

    - name: Install User theme extension
      role: gnome-extension
      vars:
        gnome_extension_id: user-theme@gnome-shell-extensions.gcampax.github.com
        gnome_extension_name: gnome-shell-extension-user-theme
        # gnome_extension_settings:
        #   - { name: /org/gnome/shell/extensions/user-theme/name, value: "'ZorinBlue-Light'" }

    - name: Enable No overview extension
      role: gnome-extension
      vars:
        gnome_extension_id: no-overview@fthx

    - name: Enable Just perfection extension
      role: gnome-extension
      vars:
        gnome_extension_id: just-perfection-desktop@just-perfection
        gnome_extension_settings:
          - { name: /org/gnome/shell/extensions/just-perfection/support-notifier-type, value: 0 }
          - { name: /org/gnome/shell/extensions/just-perfection/workspace-popup, value: false }

    - name: Install App indicator extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-appindicator

    - name: Install Auto move windows extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-auto-move-windows

    - name: Install Drive menu extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-drive-menu

    - name: Install Gpaste extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-gpaste

    - name: Install Launch new instance
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-launch-new-instance

    - name: Install Extension manager extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-manager

    - name: Install No annoyance extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-no-annoyance

    - name: Install Places menu extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-places-menu

    - name: Install Windows navigator extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-windows-navigator

    - name: Install Workspace indicator extension
      role: gnome-extension
      vars:
        gnome_extension_name: gnome-shell-extension-workspace-indicator

    - name: Set background
      role: gnome-background
      vars:
        gnome_desktop_background_name: "BSonoma_Mac.png"
        gnome_desktop_background_src: "{{ playbook_dir }}/assets/pictures/{{ gnome_desktop_background_name }}"
        gnome_desktop_background_dest: "~/Pictures/{{ gnome_desktop_background_name }}"

- name: Disable services
  hosts: home
  tasks:
    - name: Disable unused services
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
        enabled: false
      loop: "{{ disabled_services }}"
      become: true

- name: Uninstall packages
  hosts: home
  tasks:
    - name: Uninstall unused packages
      ansible.builtin.apt:
        name: "{{ uninstall_packages }}"
      become: true

    - name: Remove all unused packages
      ansible.builtin.apt:
        autoremove: true
      become: true

- name: Reboot system
  hosts: home
  tasks:
    - name: Reboot
      ansible.builtin.reboot:
      become: true