- hosts: all
  roles:
    - role: bootstrap
      become: true
    - role: plymouth
      become: true
    - dotfiles
    - role: install-keyd
      become: true
    - nerd-fonts
    - role: profile-picture
      become: true
      when: profile_picture_enabled | bool
    - gnome
    - role: tools
      become: true
    - role: post
      become: true
