- hosts: all
  roles:
    - role: bootstrap
      become: true
    - role: plymouth
      become: true
    - role: common
      become: true
    - dotfiles
    - role: install-keyd
      become: true
    - nerd-fonts
    - bash-ohmyposh
    - role: profile-picture
      become: true
    - gnome
    - role: tools
      become: true
    - role: post
      become: true
