- name: Install Gnome extension
  ansible.builtin.apt:
    name: "{{ extension.name }}"
    state: present
  become: true
  when:
    - extension.name is defined
    - extension.name != ''

# Steps required to make the installed extension
# visible without logout/login
- name: Find Gnome shell process
  ansible.builtin.command: 
    cmd: "pgrep -u {{ ansible_facts['user_id'] }} -f gnome-shell"
  register: gnome_shell
  failed_when:
    - gnome_shell.rc != 0
    - gnome_shell.rc != 1

- name: Kill existing Gnome shell
  ansible.builtin.command:
    cmd: "pkill -u {{ ansible_facts['user_id'] }} -f gnome-shell"
  when: gnome_shell.rc == 0

- name: Enable extension
  ansible.builtin.command:
    cmd: "gnome-extensions enable {{ extension.id }}"
  when: 
    - extension.id is defined
    - extension.id != ""

- name: Apply extension configuration
  community.general.dconf:
    key: "{{ item.name }}"
    value: "{{ item.value }}"
  loop: "{{ extension.configuration | default([]) }}"
  when: extension.configuration | length > 0
