- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
    state: directory
    mode: '0700'
  become: false

- name: Generate GitHub SSH key
  community.crypto.openssh_keypair:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh/personal"
    type: ed25519
    comment: "{{ ansible_user }}@{{ inventory_hostname }}"
  become: false

- name: Ensure SSH config exists
  blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh/config"
    create: true
    mode: '0600'
    block: |
      Host github.com
        IdentityFile {{ ansible_facts['env']['HOME'] }}/.ssh/personal
        IdentitiesOnly yes
  become: false
